
#container {
	height: 100%;
}

.row {
	margin-top: 20px;
}

#tripsTableContainer, #dealerInfoContainer {
	margin-left: 10px;
	margin-right: 10px;
}

#tripMapContainer {
	margin: 10px;
	margin-top: 80px;
}

#tripMapContainer {
	height: 300px;
}

#tripsTableContainer {
	height: 200px;
}

#dealerInventoryContainer {
	height: 450px;
	margin-left: 10px;
	margin-right: 10px;
}

/* Overriding default bootstrap styles */

.btn, .form-control {
	border-radius:0px;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
	top : 0px;
}