
/* 	

	ORANGE : #d96a34
	LIGHT BROWN : #f7f7f7
	WHITE : #ffffff

 */

body {
	background: #f7f7f7;
	height: 100%;
}

#container {
	height: 900px;
	background-color: #ffffff;
}

#logoContainer {
	height:100px;
	background-image: url(../../resources/images/logoWhiteSmall.png);
}

.row {
	margin-top: 20px;
}

#headerContainer {
	background-color: #d96a34;
	height: 100px;
	margin-top: 0px;
}

.zero-top-margin {
	margin-top: 0px;
}

#tripsTableContainer, #dealerInfoContainer {
	margin-left: 10px;
	margin-right: 10px;
}

#tripMapContainer {
	margin: 10px;
	margin-top: 80px;
}

#tripMapContainer {
	height: 300px;
}

#tripsTableContainer {
	height: 200px;
}

#dealerInventoryContainer {
	height: 450px;
	margin-left: 10px;
	margin-right: 10px;
}

#dealerInventoryContainer tbody tr{
	height: 100px;
}

.imageContainer {
	width:120px;
	height:80px;
}
.imageContainer img {
    width: 100%;
    height: auto;
}

.imageContainer {
	margin-left:55px;
}

/* Overriding default bootstrap styles */

.btn, .form-control {
	border-radius:0px;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
	top : 0px;
}